# How to use :
# docker-compose up -d
# docker-compose down
# --------------------------------------------------------------------------------

version: '2'
services:
  gitlab:
    hostname: GITLAB
    container_name: docker_gitlab
    build:
      context: ./gitlab
      dockerfile: ./Dockerfile
    environment:
      # 影响 /etc/gitlab/gitlab.rb 的配置
      GITLAB_OMNIBUS_CONFIG: |
        # 替代默认的 gitlab 域名，避免在线编辑文件时跳到在线仓库
        external_url 'http://127.0.0.1/'
        # 启用 Gitlab Pages
        gitlab_pages['enable'] = true
        # 访问 Gitlab Pages 的域名，项目名称必须为 <prj-name>.pages.127.0.0.1
        pages_external_url "http://pages.127.0.0.1/"
    volumes:
      - ./gitlab/config:/etc/gitlab
      - ./gitlab/data:/var/opt/gitlab
      - ./gitlab/logs:/var/log/gitlab
    ports:
#     - 443:443
      - 80:80
    networks: 
      vpn:
        ipv4_address: 172.168.31.2
    restart: unless-stopped

  runner:
    hostname: RUNNER
    container_name: docker_runner
    build:
      context: ./runner
      dockerfile: ./Dockerfile
    volumes:
      - ./runner/config:/etc/gitlab-runner
    networks: 
      vpn:
        ipv4_address: 172.168.31.3
    restart: unless-stopped

networks:
  vpn:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet:  172.168.31.0/24
          gateway: 172.168.31.1

